.button {
    display: block;
    border-radius: 20px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    &__login-links {
        min-width: 79px;
        padding: 11px 20px 9px;
        color: $white;
        font-size: 13px;
        background-color: transparent;
        border: 1px solid $white;
        &+& {
            margin-left: 20px;
        }
        &--active {
            background-color: #fff;
            color: rgb(84, 128, 221);
        }
    }
    &__promo-link,
    &__contact,
    &__play-video {
        display: inline-block;
        position: relative;
        max-width: 229px;
        width: 100%;
        padding: 21px 15px 20px 37px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        background-color: $white;
        text-align: left;
        color: rgb(37, 182, 194);
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.28px;
        cursor: pointer;
        &:before {
            content: "\e902";
            position: absolute;
            @include icomoon;
            right: 20px;
            top: 14px;
            font-size: 25px;
        }
    }
    &__promo-link {
        color: $white;
    }
    &__contact,
    &__play-video {
        background-color: rgb(11, 215, 252);
        color: $white;
        border: none;
    }
}


/* -------------------------------------------------------------------------- */


/*                          //ANCHOR BUTTON ANIMATION                         */


/* -------------------------------------------------------------------------- */

.btn-anim {
    /* background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(11, 215, 252);
    border: none;
    z-index: 1;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 26px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
        &:hover {
            color: #fff;
            border-radius: 26px;
        }
        &:hover:after {
            top: 0;
            height: 100%;
            border-radius: 26px;
        }
        &:active {
            top: 2px;
            border-radius: 26px;
        }
    }
}

.btn-anim {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }
    &:hover {
        color: #fff;
        border-radius: 26px;
    }
    &:hover:after {
        top: 0;
        height: 100%;
        border-radius: 26px;
    }
}

.btn-13:after {}

.btn-13:hover {}

.btn-13:hover:after {}

.btn-13:active {
    top: 2px;
}