html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    /* overflow-x: hidden; */
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:focus,
input:focus {
    outline: transparent;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.anim-link {
    transition: all 0.3s;
    &:focus,
    &:hover {
        color: $green;
    }
}

.anim {
    transition: all 0.4s;
}

.hover {
    transition: all 0.3s;
    &:hover,
    &:focus {
        background-color: rgba(75, 186, 250, 0.5);
    }
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container-fluid,
.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
}

//title
.title-global {
    display: block;
    margin: 0 auto;
    color: $grey;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    text-align: center;
    padding-bottom: 10px;
}

.subtitle-global {
    display: block;
    color: $darktext;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}