html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    text-decoration: none;
}

button:focus,
a,
input:focus {
    outline: transparent;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#upbutton {
    position: fixed;
    display: none;
    height: 80px;
    width: 80px;
    right: 30px;
    bottom: 30px;
    color: rgb(75, 186, 250);
    cursor: pointer;
    word-wrap: none;
    z-index: 999;
    .upbutton-arrow {
        font-size: 60px !important;
    }
}

.anim {
    transition: all 0.3s;
}

.anim-link {
    transition: all 0.3s;
    &:focus,
    &:hover {
        color: $green;
    }
}

.hover {
    transition: all 0.3s;
    &:hover,
    &:focus {
        background-color: rgba(75, 186, 250, 0.5);
    }
}

.content-site {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container-fluid,
.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
}

//title
.title-global {
    display: block;
    margin: 0 auto;
    color: $grey;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    text-align: center;
    padding-bottom: 10px;
}

.subtitle-global {
    display: block;
    color: $darktext;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

//NOTE BLUE ICON FONTAWESOME PRO
.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: rgb(20, 199, 87);
    background-image: linear-gradient(-27deg, rgb(75, 186, 250) 0%, rgb(11, 215, 252) 100%);
    &__icon {
        color: rgb(255, 255, 255);
        font-size: 50px;
    }
}