$white:rgb(255, 255, 255);
$dark: rgb(95, 95, 95);
$green: #3ccd0f;
$blue: rgb(84, 128, 221);
$darktext: rgb(32, 32, 32);
$grey: rgb(135, 149, 156);

/* -------------------------------------------------------------------------- */


/*                                   MIXINS                                   */


/* -------------------------------------------------------------------------- */

@mixin icomoon {
    font-family: "icomoon" !important;
}