$white:rgb(255, 255, 255);
$dark: rgb(95, 95, 95);
$green: #3ccd0f;
$blue: rgb(84, 128, 221);

/* -------------------------------------------------------------------------- */


/*                                   MIXINS                                   */


/* -------------------------------------------------------------------------- */

@mixin icomoon {
    font-family: "icomoon" !important;
}